---
import { nav, navList, navItem } from './styles.css.ts';
import NavLink from './nav-link.astro';
---

<nav class={nav}>
  <ul class={navList}>
    <li class={navItem}>
      <NavLink href="/">Home</NavLink>
    </li>
    <li class={navItem}>
      <NavLink href="/about">About</NavLink>
    </li>
    <li class={navItem}>
      <NavLink href="/posts">All Posts</NavLink>
    </li>
    <!-- TODO: Update once we have a project to show off
    <li class={navItem}>
      <NavLink href="/projects">Projects</NavLink>
    </li> -->
  </ul>
  <ul class={navList}>
    <li class={navItem}>
      <NavLink href="https://github.com/grumpy-manticore">GitHub</NavLink>
    </li>
    <li class={navItem}>
      <NavLink href="https://www.linkedin.com/in/nick-telsan-9509841b2/"
        >LinkedIn</NavLink
      >
    </li>
    <li class={navItem}>
      <NavLink href="/rss.xml">RSS</NavLink>
    </li>
  </ul>
</nav>
